<h1>Search Results</h1>

<% if @results['results'].any? %>
  <ul>
    <% @results['results'].each do |movie| %>
      <li>
        <strong><%= movie['title'] %></strong> - <%= movie['release_date'] %>
        <p><%= movie['overview'] %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>